@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  color: black;
  scrollbar-color: rgb(12 74 110) rgb(240 249 255);
  scrollbar-width: thin;
}

body {
  background-color: rgb(241, 245, 249);
  font-size: 16px;
}
