@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  color: black;
  scrollbar-color: #075985 #f4f4f5;
  scrollbar-width: thin;
}

body {
  background-color: #f4f4f5;
  font-size: 16px;
}
